<div class="row-fluid">
  <h1 align="center">智能土壤样品信息采集系统</h1>
  <h3 align="center">本课题为国家863现代农业技术领域项目</h3>
  <div class="span1"></div>
  <div class="span9">
  <div class="hero-unit">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item active" align=center><img src="<%= asset_path '1.jpg' %>" alt></div>
        <div class="item" align=center><img src="<%= asset_path '2.jpg' %>" alt></div>
        <div class="item" align=center><img src="<%= asset_path '3.jpg' %>" alt></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  </div>
  <div class="span1"></div>
</div>
